.landing{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: black;
   
  
   
   .lines{
   
    width: 100%;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%,-50%);
   
    .rotating{
    
      transform-origin: center;
      animation: rotation 60s linear infinite;
    }
    @media(max-width:980px){
      width: 400%;
     
    }
   
 }
 .body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .textBox, .mask{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;


  }
  .mask{
    mask-image: url("../../../public/mask.svg");
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: #ec4e39;
    position: absolute;
    color: black;
   
   
  }
  .text{
    
    color: #afa18f;
    font-size: clamp(2rem,4vw,6rem);
    line-height: 1.5;
    font-family: Avant Garde Book BT;
    span{
      color: white;
    }
    .name{
      color: #ec4e39;
    }
  }.textMask{
    
    font-size: clamp(2rem,4vw,6rem);
    line-height: 1.5;
    font-family: Avant Garde Book BT;
  }

}
@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(1turn); 
  }
}