.landing{
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    justify-content: center;
    align-items: center;
    z-index: -2;
   .lines{
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%,-50%);
    .rotating{
    
      transform-origin: center;
      animation: rotation 60s linear infinite;
    }
    @media(max-width:980px){
      width: 400%;
     
    }
   
 }
 .textBox{
  position: absolute;
  width: 80%;
  padding: 2rem;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

  .text{
    color: hsla(0,0%,100%,.32);
    font-size: clamp(2rem,4vw,6rem);
    line-height: 1.5;
    font-family: Roslindale;
    span{
      color: white;
    }
  }
 }
}
@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(1turn); 
  }
}