.project{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: var(--container-padding) ;
    padding-right: var(--container-padding) ;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;

    h2{
        font-size: clamp(30px,6vw,80px);
        margin: 0px;
        font-weight: 400;
        transition: all 0.4s;
    }

    p{
        transition: all 0.4s;
        font-weight: 300;
        font-size: clamp(12px,2vw,18px);
    }

    &:last-of-type{
        border-bottom: 1px solid rgb(201, 201, 201);
    }

    &:hover{
        opacity: 0.5;

        h2{
            transform: translateX(-10px);
        }

        p{
            transform: translateX(10px);
        }
    }
}
