.projects{
    display: flex;
   
    max-width: 140em;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 300px;
    
    padding-left: var(--container-padding) ;
    padding-right: var(--container-padding) ;

    .body{
       
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }
    
    .modalContainer{
        height: 350px;
        width: 400px;
        position: fixed;
        top: 50%;
        left: 50%;
        background-color: white;
        pointer-events: none;
        overflow: hidden;
        z-index: 3;
    }
    
    .modalSlider{
        height: 100%;
        width: 100%;
        position: relative;
        transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }
    
    .modal{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .modal img{
        height: auto;
    }
    
    .cursor, .cursorLabel{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #455CE9;
        color: white;
        position: fixed;
        z-index:3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 300;
        pointer-events: none;
    }
    
    .cursorLabel{
        background-color: transparent;
    }
    .btn{
        margin: 0 auto;
    
        a{
            text-decoration: none;
            color: #626363;
            z-index: 4;
            display: block;
            padding: 15px 60px 15px 60px;
            &:hover{
                color: white;
            }
    }
     
    }
  
    
    
}