.path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all .8s cubic-bezier(.445, .045, .355, 1);
  }
.input{
    display: none;
}
.circle {
    fill: #fff3;
    opacity: 0;
  }
  .label{
    display: block;
    cursor: pointer;
  }
 
  
  
  .cross input:checked+svg {
    .line--1,
    .line--3 {
      --length: 22.627416998;
    }
    .line--2 {
      --length: 0;
    }
  }
  
  .back input:checked+svg {
    .line--1,
    .line--3 {
      --length: 8.602325267;
    }
  }
  
  .menu--1 {
  
    .line--1,
    .line--3 {
      --total-length: 126.64183044433594;
    }
    .line--2 {
      --total-length: 80;
    }
    input:checked+svg {
      .line--1,
      .line--3 {
        --offset: -94.1149185097;
      }
      .line--2 {
        --offset: -50;
      }
    }
  }
  .menu{
    transform: scale(0);
    position: fixed;
    right: 0;
    width: 5rem;
    height: 5rem;
    margin: 1.5rem;
    border-radius: 50%;
    z-index: 5;
  }


.header{
  position: relative;

}
.navbar{
  display: flex;
  position: absolute;
  gap: 2vw;
  padding: 2rem 4rem;
  justify-content: flex-end;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}
.el{
  position: relative;
  z-index: 4;
  p,a{
    color: #afa18f;
    text-decoration: none;
    line-height: 1rem;
    
    font-size: clamp(1rem,1.5vw,1.2rem);
    cursor: pointer;
   }
   .indicator{
    width: 6px;
    height: 6px;
    background-color: #afa18f;
    position: absolute;
    top: 150%;
    left:50%;
    border-radius: 50%;
    transform: scale(0) translateX(-50%);
    transition : transform 0.2s cubic-bezier(0.75,0,0.24,1);

  
   }
   &:hover{
    .indicator{
      transform: scale(1) translateX(-50%);
    }
  }


}